* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ---------------------------------------Navbar -------------------------- */

.nav {
    background-color: burlywood;
    text-align: center;
    width: 100%;
    height: 60px;
    padding-top: 8px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* -------------- */

.dark-mode {
    background-color: black;
    color: white;
    transition: background-color 0.25s ease-in-out;
    height: 100%;
}

.light-mode {
    background-color: white;
    color: black;
    transition: background-color 0.25s ease-in-out;
    height: 100%;
}

.switch-container {
    height: 100px;
}


/* -----------------Main Section--------------------- */

main {
    display: flex;
    justify-content: center;
    background-color: rgb(131, 131, 143);
}

.container {
    background-color: #8000ff;
    color: #ffe8f5;
    margin: 25px;
    font-family: monospace;
    padding: 20px;
    text-align: center;
    line-height: 2;
    text-transform: capitalize;
}


/* --------------------------------------- Responsive Work */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .nav {
        background-color: burlywood;
        text-align: center;
        width: 100%;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 20px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 200px;
        font-size: 20px;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h3 {
        font-size: 20px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .nav {
        background-color: burlywood;
        text-align: center;
        width: auto;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 20px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 200px;
        font-size: 20px;
    }
    main {
        display: flex;
        background-color: rgb(131, 131, 143);
        flex-wrap: wrap;
    }
    h3 {
        font-size: 20px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    nav {
        background-color: burlywood;
        text-align: center;
        width: auto;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 20px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 200px;
        font-size: 20px;
    }
    main {
        display: flex;
        justify-content: center;
        background-color: rgb(131, 131, 143);
    }
    h3 {
        font-size: 20px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    nav {
        background-color: burlywood;
        text-align: center;
        width: auto;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 30px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 300px;
        font-size: 20px;
    }
    main {
        display: flex;
        justify-content: center;
        background-color: rgb(131, 131, 143);
    }
    h3 {
        font-size: 20px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    nav {
        background-color: burlywood;
        text-align: center;
        width: 100%;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 30px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 350px;
        font-size: 20px;
    }
    main {
        display: flex;
        justify-content: center;
        background-color: rgb(131, 131, 143);
    }
    h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1400px) {
    nav {
        background-color: burlywood;
        text-align: center;
        width: 100%;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 30px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 400px;
        font-size: 25px;
    }
    main {
        display: flex;
        justify-content: center;
        background-color: rgb(131, 131, 143);
    }
    h3 {
        font-size: 20px;
    }
}