* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ---------------------------------------Navbar -------------------------- */

.inputtext {
    padding: 8px 20px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
}

.nav {
    background-color: burlywood;
    text-align: center;
    width: 100%;
    height: 60px;
    padding-top: 8px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.dark-mode {
    background-color: black;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}


/* -----------------Main Section--------------------- */

main {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* background-color: rgb(131, 131, 143); */
}

.container {
    background-color: #8000ff;
    color: #ffe8f5;
    margin: 25px;
    font-family: monospace;
    padding: 20px;
    text-align: center;
    line-height: 2;
    text-transform: capitalize;
}

footer {
    text-align: center;
}


/* --------------------------------------- Responsive Work */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .nav {
        background-color: burlywood;
        text-align: center;
        width: 100%;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 20px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 200px;
        font-size: 20px;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h3 {
        font-size: 20px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .nav {
        background-color: burlywood;
        text-align: center;
        width: auto;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 20px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 200px;
        font-size: 20px;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
    h3 {
        font-size: 20px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    nav {
        background-color: burlywood;
        text-align: center;
        width: auto;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 20px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 200px;
        font-size: 20px;
    }
    main {
        display: flex;
        justify-content: center;
    }
    h3 {
        font-size: 20px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    nav {
        background-color: burlywood;
        text-align: center;
        width: auto;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 30px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 300px;
        font-size: 20px;
    }
    main {
        display: flex;
        justify-content: center;
    }
    h3 {
        font-size: 20px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    nav {
        background-color: burlywood;
        text-align: center;
        width: 100%;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 30px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 350px;
        font-size: 20px;
    }
    main {
        display: flex;
        justify-content: center;
    }
    h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1400px) {
    nav {
        background-color: burlywood;
        text-align: center;
        width: 100%;
        height: 60px;
        padding-top: 8px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
    h1 {
        font-size: 30px;
    }
    .container {
        background-color: #8000ff;
        color: #ffe8f5;
        margin: 15px;
        padding: 10px;
        text-align: center;
        line-height: 2;
        text-transform: capitalize;
        width: 400px;
        font-size: 25px;
    }
    main {
        display: flex;
        justify-content: center;
    }
    h3 {
        font-size: 20px;
    }
}